.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0f0f0f;
}
.grid {
  border-radius: 35px;
}
.constraints {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  top: 64px;
  left: 0;
}
.try {
  background-image: linear-gradient(to top, #f7ade2 0%, #95bafa 100%);
  height: 50vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.about {
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 6rem;
  padding-bottom: 6rem;
  color: #fff;
}
.play {
  height: 100vh;
  position: relative;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  display: flex;
  color: #fff;
  align-items: center;
  background-color: #0f0f0f;
  justify-content: space-evenly;
  overflow: hidden;
}
.learn {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
  position: relative;
}
.learnSection {
  height: 50vh;
  width: 70vw;
  border-radius: 70px;
  font-family: "Poppins";
}
