.workstation {
}
.mainWork {
  height: 100vh;
  width: 100vw;
  background: url(../assets/parallax-back.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  color: rgb(255, 255, 255);
  position: relative;
}
.aboutStation {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  position: relative;
}
.aboutStation p {
  width: 35ch;
}
.youAsked {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  background-color: #0f0f0f;
  position: relative;
}
.youAsked p {
  width: 35ch;
}
.youAsked img {
  transform: scaleX(-1);
}
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100vw;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.featureList {
  height: 60vh;
  width: 90vw;
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.priceSection {
  background: no-repeat center;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M0 384.97L10 349.14L20 390.33L30 391.21L40 430.92L50 465.5L60 450.81L70 399.59L80 384.06L90 393.24L100 327.05L110 281.87L120 282.02L130 241.51L140 290.15L150 301.18L160 274.24L170 244.13L180 185.31L190 252.35L200 252.7L210 271.04L220 235.76L230 178.18L240 244.85L250 292.94L260 315.12L270 309.41L280 372.27L290 327.77L300 320.3L310 378.71L320 436.16L330 487.46L340 483.82L350 515.81L360 514.94L370 459.23L380 466.17L390 461.85L400 425.37L410 431.82L420 428.38L430 475.29L440 470.66L450 498.54L460 514.03L470 457.72L480 524.93L490 459.95L500 436.3L510 492.08L520 499.38L530 464.4L540 440.94L550 504.51L560 459.56L570 465.6L580 512.23L590 551.81L600 531.66L610 509.77L620 550.7L630 481.46L640 465.05L650 512.81L660 497.12L670 523.35L680 457.43L690 397.24L700 414.92L710 358.98L720 395.91L730 409.14L740 414.62L750 383.23L760 380.88L770 356.82L780 353.41L790 365.41L800 395.93L810 463.86L820 494.74L830 522.58L840 480.94L850 549.94L860 482.08L870 468.51L880 478.93L890 496.09L900 434.15L910 384.49L920 358.72L930 312.73L940 365.06L950 336.36L960 289.89L970 221.5L980 159.28L990 168.66L1000 189.18L1010 200.75L1020 133.77L1030 102.19L1040 117.68L1050 82.12L1060 56.01L1070 98.51L1080 139.59L1090 168.93L1100 205.88L1110 222.09L1120 272.23L1130 274.62L1140 308.08L1150 273.27L1160 325.24L1170 325.42L1180 296.09L1190 315L1200 245.54L1210 176.36L1220 177L1230 163.8L1240 162.9L1250 144.26L1260 87.03L1270 87.92L1280 95.8L1290 53.86L1300 16.11L1310 74.68L1320 58.13L1330 3.33L1340 24.92L1350 36.88L1360 21.34L1370 26.03L1380 26.63L1390 84.99L1400 142.93L1410 190.71L1420 137.34L1430 102.43L1440 125.22' stroke='%23224b75' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 384.97L10 349.14L20 390.33L30 391.21L40 430.92L50 465.5L60 450.81L70 399.59L80 384.06L90 393.24L100 327.05L110 281.87L120 282.02L130 241.51L140 290.15L150 301.18L160 274.24L170 244.13L180 185.31L190 252.35L200 252.7L210 271.04L220 235.76L230 178.18L240 244.85L250 292.94L260 315.12L270 309.41L280 372.27L290 327.77L300 320.3L310 378.71L320 436.16L330 487.46L340 483.82L350 515.81L360 514.94L370 459.23L380 466.17L390 461.85L400 425.37L410 431.82L420 428.38L430 475.29L440 470.66L450 498.54L460 514.03L470 457.72L480 524.93L490 459.95L500 436.3L510 492.08L520 499.38L530 464.4L540 440.94L550 504.51L560 459.56L570 465.6L580 512.23L590 551.81L600 531.66L610 509.77L620 550.7L630 481.46L640 465.05L650 512.81L660 497.12L670 523.35L680 457.43L690 397.24L700 414.92L710 358.98L720 395.91L730 409.14L740 414.62L750 383.23L760 380.88L770 356.82L780 353.41L790 365.41L800 395.93L810 463.86L820 494.74L830 522.58L840 480.94L850 549.94L860 482.08L870 468.51L880 478.93L890 496.09L900 434.15L910 384.49L920 358.72L930 312.73L940 365.06L950 336.36L960 289.89L970 221.5L980 159.28L990 168.66L1000 189.18L1010 200.75L1020 133.77L1030 102.19L1040 117.68L1050 82.12L1060 56.01L1070 98.51L1080 139.59L1090 168.93L1100 205.88L1110 222.09L1120 272.23L1130 274.62L1140 308.08L1150 273.27L1160 325.24L1170 325.42L1180 296.09L1190 315L1200 245.54L1210 176.36L1220 177L1230 163.8L1240 162.9L1250 144.26L1260 87.03L1270 87.92L1280 95.8L1290 53.86L1300 16.11L1310 74.68L1320 58.13L1330 3.33L1340 24.92L1350 36.88L1360 21.34L1370 26.03L1380 26.63L1390 84.99L1400 142.93L1410 190.71L1420 137.34L1430 102.43L1440 125.22L1440 560L0 560z' fill='url(%23SvgjsLinearGradient1003)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' id='SvgjsLinearGradient1003'%3e%3cstop stop-opacity='0.65' stop-color='%23224b75' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='%23508dcc' offset='0.8'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-family: "Poppins", sans-serif;
  position: relative;
}
